* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.navbar__link {
  text-decoration: none;
  color: #515151;
}

section,
header {
  width: 100%;
}

header {
  margin: 0 auto;
  width: 1520px;
  background-color: #f6f6f9;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 20px 50px;
}

.navbar__logo {
  background-color: white;
  padding: 6px;
  border-radius: 4px;
}

.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.price__span {
  font-weight: 700;
  font-family: sans-serif;
  color: #285193;
}

.navbar__price {
  font-family: sans-serif;
  color: #7a7a7a;
}

.navbar__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 7px;
  border: none;
  border-radius: 5px;
  background-color: white;
}

.navbar__btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 6px 7px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #535353;
  background-color: white;
}

.navbar__btn3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 8px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #1e96c8, #37aee2);
  color: white;
}

.container {
  width: 1520px;
}

.navbar__menu {
  padding: 22px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
}

.navbar__link {
  font-weight: bold;
  font-family: sans-serif;
  color: #515151;
}

.navbar__banner {
  width: 100%;
}


.ins {
    width: 100%;
}

.ins__container {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.ins__left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left__title {
    font-family: sans-serif;
}

.inputs {
box-sizing: border-box;
width: 600px;
height: 40px;
left: 119px;
top: 391px;

background: #f1f1f1;
border: 1px solid #285193;
border-radius: 5px;
}

.inputs__text {
box-sizing: border-box;
width: 600px;
height: 307px;
left: 119px;
top: 671px;
padding: 7px;
background: #F1F1F1;
border: 1px solid #285193;
border-radius: 5px;
}

.password {
    display: flex;
    align-items: center;
    gap: 20px;
}

.inputs__password {
box-sizing: border-box;
width: 180px;
height: 40px;
left: 119px;
top: 998px;

background: #FBFBFB;
border: 1px solid #285193;
border-radius: 5px;
}

.inputs__password1 {
    box-sizing: border-box;
    width: 221px;
    height: 40px;
    left: 119px;
    top: 998px;

    background: #FBFBFB;
    border: 1px solid #285193;
    border-radius: 5px;
}

.contact__file {
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    width: 180px;
    height: 40px;
    left: 119px;
    top: 998px;

    background: #FBFBFB;
    color: gray;
    border: 1px solid #285193;
    border-radius: 5px;
}

.upload-btn {
    margin: 8px;
}

.left__btn {
box-sizing: border-box;

width: 180px;
height: 40px;
left: 119px;
top: 1138px;
font-weight: bold;

background: #295093;
color: white;
border: 2px solid rgba(40, 81, 147, 0.54);
border-radius: 5px;

}


.ins__right {
  margin-top: 40px;
  width: 500px;
  height: 260px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: -15px 15px 5px #294f9132;
  border: 1px solid #BCC3CD;
}

.right__title {
  color: #295091;
  font-family: sans-serif;
  font-size: larger;
  font-weight: 900;
  text-align: end;
}

.right__card {
  display: flex;
  gap: 40px;
}

.left__text, 
.right__email {
  margin: 30px 0;
  font-family: sans-serif;
  color: #888888;
}


.right__email {
  text-align: end;
}

.right__imgs {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.right__btn {
  display: flex;
  justify-content: end;
}

.card__btn {
  padding: 7px 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 10px 0;

left: 79.79%;
right: 9.79%;
top: 38.82%;
bottom: 58.91%;
border: none;
color: white;
background: #295091;
border-radius: 5px;

}

.right__imgs2 {
  display: flex;
  gap: 10px;
}

.footer {
    width: 100%;
}

.footer__container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 1540px;
    height: 280px;
    background-color: #295093;
}

.footer__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: medium;
    color: white;
    background-color: #133C82;
}

.menu__text {
    width: 700px;
    font-family: sans-serif;
    color: white;
}

.menu__btn2 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 9px 15px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    color: #295093;
    background-color: white;
}

.footer__hr {
width: 1400px;
height: 5px;
left: 119px;
top: 2645px;
border: none;
margin: 20px auto;
background: #133C82;

}

.footer__under {
    display: flex;
    align-items: center;
    gap: 150px;
}

.under__title {
    margin: 15px 0;
    color: white;
    font-family: sans-serif;
}

.under__text {
    width: 380px;
    font-family: sans-serif;
    color: white;
}

.under__li {
    margin: 15px 0;
    font-family: sans-serif;
    color: white;
}